@import "./../../scss/base/mixins";

.nav {
  padding: 20px 0;
  overflow: visible;
  position: relative;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.item {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--light-color);
  transition: all 0.1s ease-in;

  &:hover {
    opacity: 0.5;
  }

  @include smallTablet {
    font-size: 12px;
  }
}
